.secondary-button {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.secondary-button:hover {
    background-color: #007bff;
    color: white;
}

.secondary-button:disabled {
    background-color: white;
    color: #d6d6d6;
    border-color: #d6d6d6;
    cursor: not-allowed;
}
